/* Homepage Footer */ 
.footer {
    background-color: #222;
    color: #fff;
    padding: 30px 20px;
    text-align: left;
    font-size: 0.9rem;
    width: 100vw;
    margin-top: 30px;
}

.socialLinks {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
    float: right;
}

.socialLink {
    color: #fff;
    font-size: 1.5rem;
    transition: color 0.3s ease;
}

    .socialLink:hover {
        color: #007bff;
    }

.pageLinks {
    margin-bottom: 20px;
}

.pageLink {
    color: #bbb;
    text-decoration: none;
    margin-right: 15px;
    margin-bottom: 15px;
    font-weight: 500;
    transition: color 0.3s ease;
    float: left;
}

    .pageLink:hover {
        color: #007bff;
    }

.footerBottom {
    font-size: 0.8rem;
    color: #aaa;
    float: left;
    position: absolute;
    margin-top: 15px;
}

    .footerBottom p {
        margin: 0;
    }
